html, body {
  height: 100%;
}

body {
  background-image: url('../images/topography.png');
}

.jumbotron {
  background-color: #28576E;
  color: white;
}

.navbar {
  margin-bottom: 0;
}

.list-group-item {
  border: none;
}

#chatSubmit {
  left: 1px;
}
